.fucked{
    height: 2000px;
    width: 300px;
}

.greds{
    font-size: 80px;
    background-color: blueviolet;
    color: aquamarine;
    font-weight: bolder;
    text-align: center;
}

#readable{
    background-color: grey;
}

.mouth{
    color: blueviolet;
    background-color: black;
    font-size: 40px;
}

#scream{
    font-size: 80px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: expanded;
    color: red;
}

